<!docTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="{{ lang }}">
    <head>
        <title>{{ title }}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta name="title" content="{{ i_asked }} {{ question }}" />
        <meta name="description" content="{{ i_asked }} {{ question }}, {{ and_he_replied }} {{ answr }}" />
        <meta property="fb:admins" content="1214732280" />

        <link rel="icon" href="img/favicon.ico" />
		<link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />

		<style> html .fb_share_button { font-size:10px; display: -moz-inline-block; display:inline-block; padding:1px 20px 0 5px; height:15px; border:1px solid #d8dfea; background:url(http://static.ak.fbcdn.net/images/share/facebook_share_icon.gif?7:26981) no-repeat top right; } html .fb_share_button:hover { color:#fff; border-color:#295582; background:#3b5998 url(http://static.ak.fbcdn.net/images/share/facebook_share_icon.gif?7:26981) no-repeat top right; text-decoration:none; } </style> 
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.2.6.min.js"> </script>
        <script type="text/javascript">
		function fbs_click(idd) {u='http://www.answr.it/q?id='+idd;t=document.title;window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}


        var first = true;
        function answrit(id){
            if(first){
                if(id>0) $("input#input_cerca").val($("#domanda_"+id).html());
                
                var domanda = $("input#input_cerca").serialize();
                if($("input#input_cerca").val() == "{{ type_your_question }}" || $("input#input_cerca").val() == ""){
                    alert("{{ must_ask }}");
                }
                else{
                    $("#risposta").hide();
                    $("#loading").show();
                    $.get("/answr", {'lang' : '{{ lang }}', 'question' :  $("input#input_cerca").val()}, 
                        function(data){
                            data = JSON.parse(data);

                            $("#risposta").text(data["text"]);
                            $("#loading").fadeOut("slow", function(){
                                $("#risposta").fadeIn("slow",function(){
                                    
                                    $("input#input_cerca").attr("disabled", true);
                                    $("input#input_cerca").css("width", "750px");
                                    $("#img_cerca").fadeOut();
                                    $("#risposta").animate({ 
                                            fontSize: 40
                                        }, 1500 ,function() {
                                            $("#reload").fadeIn('slow');
                                            lampeggia();
                                        }
                                    );
                                });
                            });
                        }
                    );
                }
                first = false;
            }
            return false;
        }

        function lampeggia(){
            $('#reload_text').fadeIn('slow',function(){
                $('#reload_text').fadeOut('slow',function(){
                    $('#previous').fadeOut('slow');
                    lampeggia();
                })
            });
        }


        </script>
    </head>
    <body >
    <div id="content">
    	<div id="header">
            <a href="http://www.answr.it"><img id="logo" src="img/logo.png" border="0"></a>
			<img id="border_right" src="img/stripes_right.png">
            <a href="/?lang=it"><img id="bandierina_it" src="img/flag_it.gif" width="20px"></a> 
            <a href="/?lang=en"><img id="bandierina_en" src="img/flag_en.gif" width="20px"></a> 
		</div>
		<div id="answr" >
			<div id="cerca" >
				<form name="rispondi" onSubmit="return false">
                <input type="text" value="{{ question }}" name="cerca" id="input_cerca" disabled style="width:750px"/>
				</form>
			</div>
			<div id="loading" style="display:none"><img src="img/loading.gif" title="{{ loading }}"/></div>
            <div style="text-size:40;text-align:center" id="risposta">{{ answr }}&nbsp;&nbsp;&nbsp;<a href="http://www.facebook.com/share.php?u=<url>" class="fb_share_button" onclick="return fbs_click('{{ q_id }}')" target="_blank" style="text-decoration:none;">{{ share }}</a>
            </div>
			<div  style="text-align:center" id="reload">
				<a href="/"><img src="img/reload.gif" border="0" onmouseover=";" onmouseout="$('#reload_text').fadeOut('slow');"/>
                <b id="reload_text">{{ ask_again }}</b></a>
			</div>
			
		</div>		

	</div>
    <div id="links"  style="background-color: rgb(244, 241, 235); width: 160px; text-align: center;" class="text_4">
        <iframe
            src="http://www.facebook.com/plugins/like.php?href=www.answr.it&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80"
            scrolling="no" frameborder="0" style="border:none; overflow:hidden;
            width:450px; height:80px;" allowTransparency="true"></iframe>
	</div>

	<script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
    
	<script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-3447284-1");
        pageTracker._initData();
        pageTracker._trackPageview();
	</script>
    </body>
</html>
